<div class="container">
  <!-- IZQUIERDA: Formulario -->
  <div class="form-panel">
    <h2>Formulario</h2>
    
    <form [formGroup]="form" (ngSubmit)="enviarFormulario()">
      
      <div class="form-group">
        <label>Título:</label>
        <input type="text" formControlName="titulo" placeholder="Nombre el producto..." 
               [class.input-error]="form.get('titulo')?.invalid && form.get('titulo')?.touched">
        <!-- Error específico para el título -->
        <span class="error-text" *ngIf="form.get('titulo')?.invalid && form.get('titulo')?.touched">
          El título es obligatorio.
        </span>
      </div>
      
      <div class="form-group">
        <label>Descripción:</label>
        <textarea formControlName="descripcion" rows="6" placeholder="Describe el producto..."
                  [class.input-error]="form.get('descripcion')?.invalid && form.get('descripcion')?.touched"></textarea>
        <!-- Error específico para la descripción -->
        <span class="error-text" *ngIf="form.get('descripcion')?.invalid && form.get('descripcion')?.touched">
          La descripción es obligatoria.
        </span>
      </div>
      
      <div class="form-group">
        <label>Link actual:</label>
        <input type="text" formControlName="linkActual" readonly placeholder="Navega por Kevins para capturar">
      </div>
      
      <!-- Mensaje de estado general (Éxito o Error general) -->
      <div class="mensaje-estado exito" *ngIf="mensajeEnvio">{{ mensajeEnvio }}</div>
      <div class="mensaje-estado error" *ngIf="mensajeError">{{ mensajeError }}</div>
      
      <div class="form-actions">
        <button type="submit" class="btn-enviar">Enviar</button>
        <button type="button" class="btn-exportar" (click)="exportarJson()">Exportar JSON</button>
      </div>
      
    </form>
  </div>

  <!-- DERECHA: Iframe -->
  <div class="iframe-panel">
    
    <div class="iframe-header">
      <ng-container *ngIf="form.get('linkActual')?.value as link; else linkDefault">
        <a class="iframe-link-dinamico"
           [href]="link"
           target="_blank"
           rel="noopener noreferrer"
           [title]="link">
           {{ link }}
        </a>
      </ng-container>

      <ng-template #linkDefault>
        <span class="iframe-link-dinamico">kevins.com.co</span>
      </ng-template>

     </div>
    
    <div class="iframe-container" #iframeContainer>
      <iframe #miIframe [src]="iframeSafeUrl" frameborder="0" allowfullscreen></iframe>
      
      <div class="loading-overlay" *ngIf="!iframeLoaded">
        <div class="spinner"></div>
        <p>Conectando...</p>
      </div>
    </div>
    
  </div>
</div>